{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Transaction</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
      {% for stock in transacted %}
    <tr>
      <th scope="row">{{ stock.symbol }}</th>
      <td>{{ stock.name }}</td>
      <td>{{ stock.transaction_type }}</td>
      <td>{{ stock.shares }}</td>
      <td>{{ stock.price }}</td>
      <td>{{ stock.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}